body {
  background-image: url("moviecollage.jpg");
  margin: 0;
  color: white;
}
.header {
 background-color: #20082B;
 height: 148px;
 top:0;
}
.logo {
  height: 147px;
  position: absolute;
}
h1 {
  position: absolute;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 40px;
  margin-left: 190px;
}
h2.enca {
  position: absolute;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 55px;
  margin-left: 1030px;
}

#information {
  background-color: #301F3D;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  text-align: justify;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 8px;
}
#blankspace {
  border: 3px solid;
  border-color: #37A7C6;
  border-radius: 15px;
  padding: 8px;
  width: 300px;
  border: none;
  outline: 0;
}
.valbutton {
  border: 3px solid;
  background-color: #227A92;
  border-radius: 50px;
  padding: 8px;
  width: 100px;
}
#card {
  background-image: url("fondo1.jpg");
  height: 130px;
  width: 275px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}
h3.ysabank {
  position: absolute;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 5px;
}
.chip {
  position: absolute;
  height: 40px;
  border-radius: 8px;
  margin-top: 40px;
}
#firstnumber {
  position: absolute;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 18px;
}
.footer {
  background-color: #20082B;
  height: 50px;
}
h2.foot1 {
  position: absolute;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 50px;
}
h3.foot2 {
  position: absolute;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 1100px;
}
